<% title "Lista de Imagenes" %>

<h1><%= yield :title %></h1>

<table class="lista zebra">
  <tr>
    <th>Nombre</th>
	<th>Prevista</th>
  </tr>

<% @imagenes.each do |imagen| %>
  <tr>
    <td><%=link_to imagen.url, imagen %></td>
    <td><%=link_to image_tag(imagen.url(:min)), imagen %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @imagenes %>