<% title "Nuevo Sinonimo"%>

<h1><%= yield :title %></h1>

<%= form_for(@sinonimo) do |f| %>

  <%= render :partial => "form", :locals => { :f => f } %>
  
  <p>
    <button type="submit" class="green">Crear</button>
	<%= button_link "Volver a #{@sinonimo.taxon.nombre}", @sinonimo.taxon, "rosy" %>
  </p>
<% end %>

