<h1>IEBIData: Error</h1>

<p>
  <b>Pasos:</b> <%= @error[:pasos] %>
</p>

<p>
  <b>Mensaje del error:</b> <%= @error[:mensaje] %>
</p>

<p>
  <b>Comentario:</b> <%= @error[:comentario] %>
</p>

<p>Muchas Gracias</p>

<p>-- IEBIData </p>