<h1>IEBIData: Instrucciones para Recuperar tu Cuenta</h1>

<p>
  Se realizo un pedido para recuperar tu cuenta.
  Si tu no lo hiciste no hagas caso a este mensaje.
  Si pediste recuperar tu cuenta puedes hacerlo haciendo clic en el siguiente enlace:
<p>

<p>
  <%= link_to "Recuperar Contrase&ntilde;a",  edit_recuperar_cuenta_url(@usuario.perishable_token)%>
</p>

<p>-- IEBIData</p>